@model ENations.Models.CongressMember

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CongressMember</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CongressMemberId" />
            <div class="form-group">
                <label asp-for="PoliticalPartyId" class="control-label">Political Party Name</label>
                <select asp-for="PoliticalPartyId" class="form-control" asp-items="ViewBag.PoliticalPartyId"></select>
                <span asp-validation-for="PoliticalPartyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
