@model IEnumerable<ENations.Models.CongressMember>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Party Member
            </th>
            <th>
                Party
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PartyMember.User.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartyMember.PoliticalParty.Name)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.CongressMemberId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
